@import "../index.scss";

main, section {
    min-height: 100dvh;
    padding: 10px $padding-xl;
    display: flex;
    justify-content: center;
    scroll-snap-align: center;
    overflow: hidden;
}

@media (min-width: 920px) and (max-width: 1130px) {
    main, section {
        padding: 10px $padding-lg;
    }
}

@media (max-width: 620px) {
    main, section {
        padding: 10px $padding-sm;
    }
}